.form-group{
	width: 100%;
}

.w50{
	width: 50%;
}

.w100{
	width: 100%;
}

.w{
	width: 30%;
}

.contenedor{
	border: 1px solid #fff;
}

.btn{
	width: 100%;
    background: #ffda6c;
    margin-bottom: 15px;
}